* {
  font-family: 'Ubuntu', sans-serif!important;
}

.menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .menu {
    position: relative;
    .menu-item {
      background: #333333;
      border-radius: 4px;
      color: white;
      padding: 10px;
      margin: 5px;
      background: lighten(#06171d, 5);
      cursor: pointer;
    }

    .menu-item:hover {
      background: lighten(#06171d, 30);
      transform: translate(-10%, 0);
    }
  }
}

.progbar {
  width: 500px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, 0);
}
